<ion-header>

  <ion-navbar color="theme">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <form [formGroup]="loginForm">
    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Your id</ion-label>
      <ion-input color="theme-text" formControlName="id" type="text">
      </ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!loginForm.controls.id.valid  && (loginForm.controls.id.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid id.</p>
    </div>
    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Password</ion-label>
      <ion-input type="password" color="theme-text" formControlName="password">
      </ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid password.</p>
    </div>

    <ion-row>
        <ion-col text-center>
          <button color="light" ion-button
           round style="margin-top:20px;"
           icon-right (click)="submitloginForm()">
          <span style="color: #3C599B">Submit</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
  </form>
</ion-content>