<ion-header>

  <ion-navbar color="theme">
    <ion-title>Terms & Conditions</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
          <span color="primary" showWhen="ios">Close</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #12A5F4" padding>
 <p align="center"><span style="color: #ffffff;">Sutinku,kad vezejas.com naudotu mano nurodytus kontaktus užsakymo vykdymo tikslais.</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">Mieli, klientai, vezejas.com siekdamas užtikrinti visapusi&scaron;kai sklandų bendravimą bei bendradarbiavimą pra&scaron;o susipažinti su punktais kurių laikydamiesi mes Jums galime pasiūlyti auk&scaron;čiausios kokybės pervežimo paslaugas.</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong><em>Automobilių Pervežimas</em></strong></span></p>
<p><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">*&nbsp; Vairuotojui privaloma įduoti automobilio registracijos dokumentą ar jo kopiją.</span><br /><span style="color: #ffffff;"> *&nbsp; Už automobilyje esančius daiktus, bus taikomas papildomas mokestis.</span></p>
<p align="center"><span style="color: #ffffff;"><strong><em>&nbsp;</em></strong></span></p>
<p align="center"><span style="color: #ffffff;"><strong><em>Kitos Technikos Pervežimas</em></strong></span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">* Vairuotojui privaloma&nbsp; įduoti transportuojamos technikos registracijos duokumentą ar jo kopiją/pirkimo-pardavimo sutartį.</span></p>
<p align="center"><span style="color: #ffffff;">* Jei technika - nevažiuojanti ,&nbsp; atliekant užsakymą privaloma tai paminėti "papildomoje informacijoje" .</span></p>
<p align="center"><span style="color: #ffffff;">* Siuntėjas garantuoja, kad&nbsp;<strong>bus asmuo ar kita technika</strong>&nbsp;<span style="text-decoration: underline;"> pakrovimui ir&nbsp;i&scaron;krovimui</span>.</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong><em>Standartinio Siuntinio Pervežimas</em></strong></span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><a href="http://vezejas.com/bendrosios-salygos/#1-siuntu-ir-kroviniu-ipakavimas-ir-zenklinimas"><span style="color: #ffffff;">Siuntinių įpakavimas ir ženklinimas</span></a></span></p>
<p align="center"><span style="color: #ffffff;"><strong>&nbsp;</strong></span></p>
<p align="center"><span style="color: #ffffff;"><span style="text-decoration: underline;">1. Visos pakuotės turi būti pažymėtos &scaron;iais rekvizitais</span>:</span></p>
<p align="center"><span style="color: #ffffff;">* Siuntėjo vardas, pavardė (arba&nbsp;pavadinimas),&nbsp; adresas.</span></p>
<p align="center"><span style="color: #ffffff;">* Gavėjo vardas, pavardė (arba pavadinimas), adresas.</span></p>
<p align="center"><span style="color: #ffffff;">* Būtina nurodyti siuntėjo ir gavėjo telefono numerį bei&nbsp;siunčiamų pakuočių skaičių (pavyzdžiui 1/3; 2/3 ir t.t).</span></p>
<p align="center"><span style="color: #ffffff;">* Siuntos be nurodytų adresų ir&nbsp;telefono numerių, nebus priimamos.</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong>2.</strong>&nbsp;<span style="text-decoration: underline;">Daiktai turi būti supakuoti taip</span>, kad nekeltų pavojaus vežėjui, tretiesiems asmenims&nbsp;ir kitoms pakuotėms.</span></p>
<p align="center"><span style="color: #ffffff;"><strong>3.</strong>&nbsp;<span style="text-decoration: underline;">Pakuotė turi būti tokia</span>, kad joje esantys daiktai būtų apsaugoti nuo sugadinimų.</span></p>
<p align="center"><span style="color: #ffffff;"><strong>4.</strong>&nbsp;Polietileniniai mai&scaron;ai&nbsp;<strong>nėra</strong>&nbsp;tinkama pakuotė.</span></p>
<p align="center"><span style="color: #ffffff;"><strong>5.</strong>&nbsp;Jei daiktai įpakuoti&nbsp;<strong>netinkamai</strong>&nbsp;<span style="text-decoration: underline;">neprisiimame atsakomybės</span>&nbsp;už saugų siuntos&nbsp;transportavimą.</span></p>
<ul>
<li><span style="color: #ffffff;">siunčiamose pakuotėse, kuriose yra dūžtančių daiktų,&nbsp;<span style="text-decoration: underline;">privalo būti pažymėtos</span>&nbsp;&bdquo;<strong>atsargiai dūžta</strong>&ldquo; ir būtinai&nbsp;apie tai, turi būti&nbsp;<span style="text-decoration: underline;">perspėtas vairuotojas</span>.</span></li>
</ul>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong>Patarimai klientams</strong></span></p>
<ul>
<li><span style="color: #ffffff;">ruo&scaron;dami baldus pervežimui, skirkite papildomo dėmesio jų pakavimui, apvyniokite juos mink&scaron;ta polietileno plėvele su oro pūslelėmis;</span></li>
<li><span style="color: #ffffff;">trapius ir dūžtančius daiktus pakuokite kiekvieną atskirai, tiktų kartu su drabužiais, rank&scaron;luosčiais ar patalyne. (stiklainius pakuokite taip, kad jie nesiliestų vienas prie kito, apvyniokite popieriumi ar kita medžiaga kuria Jums tik patogiau, tada dėkite į mai&scaron;elį (kiekvieną stiklainį atskirai).</span></li>
<li><span style="color: #ffffff;">siunčiant padangas , būtinas įpakavimas.</span></li>
</ul>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><a href="http://vezejas.com/bendrosios-salygos/#4-daiktai-kuriuos-mes-atsisakome-vezti"><span style="color: #ffffff;">Daiktai kuriuos mes atsisakome vežti</span></a>:</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong>1.</strong>&nbsp;Įstatymais&nbsp;<span style="text-decoration: underline;">draudžiami vežti daiktai</span>&nbsp;ar medžiagos vadinami tie, kurie savo&nbsp;<span style="text-decoration: underline;">cheminėmis ar&nbsp;fizinėmis savybėmis gali sukelti pavojų žmogaus sveikatai, aplinkai ir t.t</span>.</span></p>
<p align="center"><span style="color: #ffffff;"><strong>2.</strong>&nbsp;Daiktai ar medžiagos, kurių gabenimas yra&nbsp;<span style="text-decoration: underline;">uždraustas pagal valstybės įstatymus</span>,&nbsp;kurios teritorijoje vykdomas pervežimas.</span></p>
<p align="center"><span style="color: #ffffff;"><strong>3.</strong>&nbsp;Gabenimui&nbsp;<strong>nepriimami daiktai</strong>:</span></p>
<ul>
<li><span style="color: #ffffff;">Ginklai, &scaron;audmenys, sprogstamosios medžiagos.</span></li>
<li><span style="color: #ffffff;">Greitai gendantys maisto produktai.</span></li>
<li><span style="color: #ffffff;">Daiktai, kurių pervežimui reikalingos specialios temperatūros, oro, drėgmės ir kitos papildomos sąlygos.</span></li>
<li><span style="color: #ffffff;">Tabako gaminiai.</span></li>
<li><span style="color: #ffffff;">Alkoholiniai gėrimai.</span></li>
<li><span style="color: #ffffff;">Dviračiai, motociklai ir t.t kurie neturi dokumentų.</span></li>
<li><span style="color: #ffffff;">Visos prekės, kurias draudžia įstatymas, bet kurios Vyriausybės ar valstybės ar&nbsp;vietos valdžios institucijos bet kurioje &scaron;alyje kur prekės yra gabenamos.</span></li>
</ul>
<p align="center"><span style="color: #ffffff;"><strong>4.</strong>&nbsp;Siunta,&nbsp; kurioje buvo&nbsp;<span style="text-decoration: underline;">rasta draudžiamų vežti daiktų</span>&nbsp;(žr. Nr. 3.),&nbsp;<span style="text-decoration: underline;">grąžinama</span>&nbsp;siuntėjui arba į mūsų&nbsp;būstinę, i&scaron; kur daiktus&nbsp;<span style="text-decoration: underline;">turi atsiimti klientas</span>. Ji&nbsp;<span style="text-decoration: underline;">nebus&nbsp;transportuojama</span>&nbsp;ir už draudžiamus daiktus&nbsp;<span style="text-decoration: underline;">i&scaron;ie&scaron;koma trigubo dydžio bauda</span>.</span></p>
<p align="center"><span style="color: #ffffff;"><strong>5.</strong>&nbsp;Užtikrindami Jūsų bei kitų mūsų klientų siuntinių saugų pervežimą,&nbsp;<strong>įspėjame</strong>:</span></p>
<ul>
<li><span style="color: #ffffff;">mes&nbsp;<span style="text-decoration: underline;">turime teisę patikrinti</span>&nbsp;siuntinius dėl punkto &nbsp;&bdquo;Gabenimui nepriimami daiktai&ldquo; i&scaron;vardintų daiktų.</span></li>
</ul>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong><em>Negabaritinio Krovinio Pervežimas</em></strong></span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">* Vairuotojui privaloma įduoti krovinio dokumentą ar jo kopiją. Taip pat tinka įsigijimo kvitas/ sąskaita faktūra arba policijos i&scaron;ra&scaron;as, kad prekė nėra&nbsp; vogta.</span></p>
<p align="center"><span style="color: #ffffff;">* Siuntėjas garantuoja, kad&nbsp;<strong>bus asmuo ar kita technika</strong>&nbsp;<span style="text-decoration: underline;"> pakrovimui ir&nbsp;i&scaron;krovimui</span>.</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong><em>Perkraustymas</em></strong></span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;">* Pildant užsakymo formą, "papildomoje informacijoje" turi būti nurodyta ar reikės mūsų darbuotojų pagalbos i&scaron;ne&scaron;i/sune&scaron;ti&nbsp; daiktus.&nbsp; Jei taip, tada nurodykite&nbsp; i&scaron; kokio pastato auk&scaron;to ir į kokį&nbsp; pastato auk&scaron;tą bus ne&scaron;ama.</span><br /><span style="color: #ffffff;"> * Nurodykite&nbsp; kokie daiktai bei jų kiekis bus transportuojami. Taip pat nurodykite&nbsp; didesnių daiktų i&scaron;matavimus bei apytikslų svorį.</span><br /><span style="color: #ffffff;"> * Jei tarp&nbsp; kraustomų daiktų bus&nbsp; motorinė technika (pvz: žolepjovė, motoroleris/motociklas ir kt.) vairuotojui privaloma įduoti technikos dokumentus ar jų kopiją. Taip pat, tinka įsigijimo kvitas, sąskaita faktūra arba policijos i&scaron;ra&scaron;as, kad technika nevogta.</span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><span style="color: #ffffff;"><strong><em>Gyvūnų Pervežimas</em></strong></span></p>
<p align="center"><span style="color: #ffffff;">&nbsp;</span></p>
<p align="center"><br /><span style="color: #ffffff;"> Gyvūnas privalo turėti:</span></p>
<p align="center"><span style="color: #ffffff;">* Dokumentus bei reikiamus transportavimui skiepus;</span><br /><span style="color: #ffffff;"> * Transportavimo dėžutę/krep&scaron;į;</span><br /><span style="color: #ffffff;"> * Pavadėlį, vienkartines palutes;</span><br /><span style="color: #ffffff;"> * Maistas,&nbsp; vanduo,&nbsp; indeliai.</span></p>
<p align="center"><br /><span style="color: #ffffff;"> Jei gyvunui neturite kažkurios(-ių) i&scaron; nurodytų priemonių, pildydami užsakymą papildomoje informacijoje&nbsp; turite tai nurodyti. <a href="http://vezejas.com/" target="_blank"><span style="color: #ffffff;">Vezejas.com</span></a> tuo pasirūpins, bet už &scaron;ias paslaugas bus taikomas papildomas mokestis.</span></p>
</ion-content>