<ion-header>

  <ion-navbar color="theme">
    <ion-title>News</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <h4 style="text-align: center; color: white">{{title}}</h4>
  <p style="color: white">{{description}}</p>
</ion-content>