<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <form [formGroup]="animalTypeForm">
    <ion-grid color="theme">
      <ion-row radio-group formControlName="animalType">
        <ion-col>
          <ion-item color="theme">
            <ion-label color="theme-text">Dog</ion-label>
            <ion-radio color="theme-text" checked="true" value="dog"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="theme">
            <ion-label color="theme-text">Cat</ion-label>
            <ion-radio color="theme-text" value="cat"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="theme">
            <ion-label color="theme-text">Other</ion-label>
            <ion-radio color="theme-text" value="other"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div *ngIf="animalTypeForm.value.animalType == 'dog'">

    <form [formGroup]="dogTransportForm">

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" fixed>Age</ion-label>
        <ion-input color="theme-text" type="number" min="0" max="12" formControlName="months" placeholder="months">
        </ion-input>
        <ion-input color="theme-text" type="number" min="0" formControlName="years" placeholder="years">
        </ion-input>
      </ion-item>
      <div class="no-border" *ngIf="dogTransportForm.controls.months.value > 12  && submitAttempt">
        <p style="color: #ff1800">Please enter age in months between 1 to 12.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Breed</ion-label>
        <ion-input color="theme-text" formControlName="breed"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!dogTransportForm.controls.breed.valid  && (dogTransportForm.controls.breed.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid breed.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>More info</ion-label>
        <ion-textarea color="theme-text" formControlName="moreInfo"></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col text-center>
          <button color="light" ion-button round style="margin-top:20px;" icon-right (click)="submitDogData()">
          <span style="color: #3C599B">Next</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="animalTypeForm.value.animalType == 'cat'">
    <form [formGroup]="catTransportForm">

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" fixed>Age</ion-label>
        <ion-input color="theme-text" type="number" min="0" max="12" formControlName="months" placeholder="months">
        </ion-input>
        <ion-input color="theme-text" type="number" min="0" max="12" formControlName="years" placeholder="years">
        </ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!catTransportForm.controls.months.value <= 12  && submitAttempt">
        <p style="color: #ff1800">Please enter age in months between 1 to 12.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Breed</ion-label>
        <ion-input color="theme-text" formControlName="breed"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!catTransportForm.controls.breed.valid  && (catTransportForm.controls.breed.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid breed.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>More info</ion-label>
        <ion-textarea color="theme-text" formControlName="moreInfo"></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col text-center>
          <button color="light" ion-button round style="margin-top:20px;" icon-right (click)="submitCatData()">
          <span style="color: #3C599B">Next</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="animalTypeForm.value.animalType == 'other'">
    <form [formGroup]="otherAnimalTransportForm">

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text">More info</ion-label>
        <ion-textarea color="theme-text" formControlName="moreInfo"></ion-textarea>
      </ion-item>
      <div class="no-border" *ngIf="!otherAnimalTransportForm.controls.moreInfo.valid  && (otherAnimalTransportForm.controls.moreInfo.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter info.</p>
      </div>

      <ion-row>
        <ion-col text-center>
          <button color="light" ion-button round style="margin-top:20px;" icon-right (click)="submitOtherAnimalData()">
          <span style="color: #3C599B">Next</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </form>
  </div>

</ion-content>