<ion-header>

  <ion-navbar color="theme">
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <form [formGroup]="registrationTypeForm">
    <ion-grid color="theme">
      <ion-row radio-group formControlName="registrationType">
        <ion-col>
          <ion-item color="theme">
            <ion-label color="theme-text">Individual</ion-label>
            <ion-radio color="theme-text" checked="true" value="individual"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="theme">
            <ion-label color="theme-text">Company</ion-label>
            <ion-radio color="theme-text" value="company"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div *ngIf="registrationTypeForm.value.registrationType == 'individual'">

    <form [formGroup]="individualRegistrationForm">

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>First name</ion-label>
        <ion-input color="theme-text" formControlName="firstName" type="text">
        </ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!individualRegistrationForm.controls.firstName.valid  && (individualRegistrationForm.controls.firstName.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid name.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Last name</ion-label>
        <ion-input color="theme-text" formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!individualRegistrationForm.controls.lastName.valid  && (individualRegistrationForm.controls.lastName.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid name.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Phone</ion-label>
        <ion-input color="theme-text" formControlName="phone" type="number"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!individualRegistrationForm.controls.phone.valid  && (individualRegistrationForm.controls.phone.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid phone number.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Address</ion-label>
        <ion-input color="theme-text" formControlName="address"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!individualRegistrationForm.controls.address.valid  && (individualRegistrationForm.controls.address.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid address.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Email</ion-label>
        <ion-input color="theme-text" formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!individualRegistrationForm.controls.email.valid  && (individualRegistrationForm.controls.email.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid email.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Password</ion-label>
        <ion-input color="theme-text" formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!individualRegistrationForm.controls.password.valid  && (individualRegistrationForm.controls.password.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid password.</p>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col width-10></ion-col>
          <ion-col width-10 style="margin-top: 13px;">
            <ion-checkbox color="theme-text" (ionChange)="enableCheckIndividual($event)"></ion-checkbox>
          </ion-col>
          <ion-col width-80>
            <button color="theme-text" ion-button clear (click)="termsAndConditions()">Terms & Conditions</button>
          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col text-center>
          <button color="light" ion-button [disabled]="individualCheckDisabled" 
            round style="margin-top:20px;" icon-right (click)="submitIndividualForm()">
          <span style="color: #3C599B">Submit</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="registrationTypeForm.value.registrationType == 'company'">
    <form [formGroup]="companyRegistrationForm" color="theme">

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" color="light" stacked>Company name</ion-label>
        <ion-input color="theme-text" color="light" formControlName="companyName" type="text">
        </ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!companyRegistrationForm.controls.companyName.valid  && (companyRegistrationForm.controls.companyName.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid name.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Company code</ion-label>
        <ion-input color="theme-text" formControlName="companyCode" type="text">
        </ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!companyRegistrationForm.controls.companyCode.valid  && (companyRegistrationForm.controls.companyCode.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a code.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>MVA code</ion-label>
        <ion-input color="theme-text" formControlName="mvaCode" type="text"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!companyRegistrationForm.controls.mvaCode.valid  && (companyRegistrationForm.controls.mvaCode.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a mva code.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Address</ion-label>
        <ion-input color="theme-text" formControlName="address"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!companyRegistrationForm.controls.address.valid  && (companyRegistrationForm.controls.address.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid address.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Phone</ion-label>
        <ion-input color="theme-text" formControlName="phone" type="number"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!companyRegistrationForm.controls.phone.valid  && (companyRegistrationForm.controls.phone.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid phone number.</p>
      </div>
      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Email</ion-label>
        <ion-input color="theme-text" formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!companyRegistrationForm.controls.email.valid  && (companyRegistrationForm.controls.email.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid email.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Password</ion-label>
        <ion-input color="theme-text" formControlName="password" type="password"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!companyRegistrationForm.controls.password.valid  && (companyRegistrationForm.controls.password.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid password.</p>
      </div>

      <ion-grid>
        <ion-row>
          <ion-col width-10></ion-col>
          <ion-col width-10 style="margin-top: 13px;">
            <ion-checkbox color="theme-text" (ionChange)="enableCheckCompany($event)"></ion-checkbox>
          </ion-col>
          <ion-col width-80>
            <button color="theme-text" ion-button clear (click)="termsAndConditions()">Terms & Conditions</button>
          </ion-col>

        </ion-row>
      </ion-grid>

      <!--<ion-grid>
      <ion-row>
        <ion-item style="width: 15%">
          <ion-checkbox (ionChange)="enableCheck($event)" color="temp"></ion-checkbox>
        </ion-item>
        <ion-item>
          <button ion-button clear color="light" (click)="termsAndConditions()" style="font-size: 15px;">I Accept, Terms & Conditions</button>
        </ion-item>
      </ion-row>
    </ion-grid>-->

      <ion-row>
        <ion-col text-center>
          <button color="light" ion-button [disabled]="companyCheckDisabled"
           round style="margin-top:20px;"
           icon-right (click)="submitCompanyForm()">
          <span style="color: #3C599B">Submit</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>