page-registration {
    .no-padding{
		padding-left: 0;
	}
	.bottom-btn{
		position:absolute;
		bottom: 0;
		left: 0;
		margin:0;
		padding: 0;
		border-radius: 0;
		height:9%;
	}
	.fb-login-btn{
		height:30px;
		border-radius:0;
	}
	.no-border {
			border: none !important; 
		}
}
