page-contact {
    .button-md {
        text-transform: none;
    }
    .button-outline-md {
        border-width: 4px;
    }
    .image-size {
        // max-width:  % !important;
        // height: 40px !important;
        // align-items: center;
        height: 8vh !important;
        width: auto !important;
        // margin: auto !important;
        margin-left: 15px;
        display: block !important;
    }
}
