<ion-header>

  <ion-navbar color="theme">
    <ion-title><img class="image-size" src="assets/img/logo.png" alt=""></ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #12A5F4" padding>

  <ion-grid>
    <ion-row style="margin-top: 35px">
      <ion-col width-25></ion-col>
      <!--<ion-col width-50>
      </ion-col>-->
      <button ion-button large block outline color="footer-theme" 
        (click)="call()" icon-left>
         <ion-icon color="footer-theme" name="call"></ion-icon>
          <span style="color: white">+37068347118</span>
      </button>
      <ion-col width-25></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25></ion-col>
      <!--<ion-col width-50>
      </ion-col>-->
      <button ion-button large block outline color="footer-theme" 
        (click)="openFb()" icon-left>
        <ion-icon color="footer-theme" name="logo-facebook"></ion-icon>
          <span style="color: white">facebook.com/vezejascom</span>
        </button>
      <ion-col width-25></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25></ion-col>
      <!--<ion-col width-50>
      </ion-col>-->
      <button ion-button large block outline color="footer-theme"
        (click)="openEmail()" icon-left>
        <ion-icon color="footer-theme" name="mail"></ion-icon>
          <span style="color: white">info@vezejas.com</span>
        </button>
      <ion-col width-25></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25></ion-col>
      <button ion-button large block outline color="footer-theme"
         (click)="openBrowser()" icon-left>
        <ion-icon color="footer-theme" name="home"></ion-icon>
          <span style="color: white">www.vezejas.com</span>
        </button>
      <!--<ion-col width-50>
      </ion-col>-->
      <ion-col width-25></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer style="background-color: #3C599B">
  <h6 style="color: white; text-align: center" class="text-center">Lorem Ipsum har tålt tidens tann</h6>
  <h6 style="color: white; text-align: center" class="text-center">Lorem Ipsum har tålt tidens tann</h6>
</ion-footer>