<ion-header>
  <ion-navbar color="theme">
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: #12A5F4">
  <img class="image-size" src="assets/img/logo.png" alt="">
  <ion-grid style="margin-top: 50%">
    <ion-row>
      <!--<ion-col width-25></ion-col>-->
      <button ion-button block large color="light" (click)="goToLogin()">
        <span style="color: #3C599B">Login</span>
      </button>
      <ion-col width-25></ion-col>
      <!--<ion-col width-50>
      </ion-col>-->
    </ion-row>
    <ion-row>
      <button ion-button block large color="light" (click)="goToRegistration()">
        <span style="color: #3C599B">Register</span>
      </button>
      <!--<ion-col width-25></ion-col>
      <ion-col width-50>
      </ion-col>
      <ion-col width-25></ion-col>-->
    </ion-row>
  </ion-grid>
</ion-content>