<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <form [formGroup]="removalsForm">
    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>More info</ion-label>
      <ion-textarea color="theme-text" formControlName="moreInfo"></ion-textarea>
    </ion-item>
    <div class="no-border" *ngIf="!removalsForm.controls.moreInfo.valid  && (removalsForm.controls.moreInfo.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter some info.</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openGallery()" src="assets/img/002-image.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Choose image from gallery</strong>
            </div>
          </div>
        </ion-col>

        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openCamera()" src="assets/img/001-photo-camera.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Take a photo</strong>
            </div>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col width-10></ion-col>
        <ion-col width-10 style="margin-top: 13px;">
          <ion-checkbox color="theme-text" (ionChange)="enableCheckCompany($event)"></ion-checkbox>
        </ion-col>
        <ion-col width-80>
          <button color="theme-text" ion-button clear (click)="termsAndConditions()">Terms & Conditions</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="text-align: center" *ngIf="photoRef">Image uploaded</p>

    <ion-row>
      <ion-col text-center>
        <button [disabled]="disabled" color="light" ion-button round style="margin-top:20px;"
         icon-right (click)="submitRemovalData()">
          <span style="color: #3C599B">Next</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>