page-removals-form {
    .image-size {
        // max-width:  % !important;
        // height: 40px !important;
        // align-items: center;
        height: 8vh !important;
        width: auto !important;
        margin: auto !important;
        display: block !important;
    }
     .no-padding{
		padding-left: 0;
	}
    .caption {
        // margin-top: -12px;
        color: white;
        text-align: center;
    }
	.bottom-btn{
		position:absolute;
		bottom: 0;
		left: 0;
		margin:0;
		padding: 0;
		border-radius: 0;
		height:9%;
	}
	.no-border {
			border: none !important; 
		}
}
