<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #12A5F4" padding padding>
  <h6 style="color: white; text-align: center" class="text-center">
    Sender
  </h6>
  <form [formGroup]="senderForm">

    <ion-item class="no-padding" color="theme">
      <!--<ion-label color="theme-text" stacked>Customer No.</ion-label>
      <ion-input placeholder={{userId}} value={{userId}} color="theme-text" formControlName="customerNumber"></ion-input>-->
      <p style="color: white">Customer No: {{userId}}</p>
    </ion-item>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Tracking place</ion-label>
      <ion-input color="theme-text" formControlName="trackingPlace"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!senderForm.controls.trackingPlace.valid  && (senderForm.controls.trackingPlace.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter tracking place.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Phone Number</ion-label>
      <ion-input type="number" color="theme-text" formControlName="phoneNumber"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!senderForm.controls.phoneNumber.valid  && (senderForm.controls.phoneNumber.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid phone number.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Pickup Date</ion-label>
      <ion-input [disabled]="true" placeholder={{day}} value={{day}} 
        (click)="getDate()"></ion-input>
      <!--<ion-datetime color="theme-text" displayFormat="MMMM/DDDD/YYYY" pickerFormat="MMMM/DDDD/YYYY"
       min="1970-01-01" formControlName="pickupDate"></ion-datetime>-->
    </ion-item>
    <p style="color: white">Please select either thursday or sunday</p>

    <!--<span ion-datepicker (ionChanged)="setDate($event);" [value]="localDate" [min]="localDate" full="true" calendar="true" clear class="ScheduleDate">
        <span>{{localDate | date}} <ion-icon name="clipboard" item-left ></ion-icon> </span>
    </span>-->
    <!--<ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Dropoff Date</ion-label>
      <ion-datetime color="theme-text" displayFormat="MMMM/DDDD/YYYY" pickerFormat="MMMM/DDDD/YYYY"
       min="1970-01-01" formControlName="dropOffDate"></ion-datetime>
    </ion-item>-->

  </form>

  <h6 style="color: white; text-align: center" class="text-center">
    Recipient
  </h6>

  <form [formGroup]="recipientForm">

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>First Name</ion-label>
      <ion-input color="theme-text" formControlName="firstName"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!recipientForm.controls.firstName.valid  && (recipientForm.controls.firstName.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid name.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Last Name</ion-label>
      <ion-input color="theme-text" formControlName="lastName"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!recipientForm.controls.lastName.valid  && (recipientForm.controls.lastName.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid name.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Address</ion-label>
      <ion-input color="theme-text" formControlName="address"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!recipientForm.controls.address.valid  && (recipientForm.controls.address.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter an address.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>Phone Number</ion-label>
      <ion-input type="number" color="theme-text" formControlName="phoneNumber"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!recipientForm.controls.phoneNumber.valid  && (recipientForm.controls.phoneNumber.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid phone number.</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col width-10></ion-col>
        <ion-col width-10 style="margin-top: 13px;">
          <ion-checkbox color="theme-text" (ionChange)="enableCheck($event)"></ion-checkbox>
        </ion-col>
        <ion-col width-80>
          <button color="theme-text" ion-button clear (click)="termsAndConditions()">Terms & Conditions</button>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col text-center>
        <button color="light" ion-button [disabled]="disabled || thuOrSun"
         round style="margin-top:20px;" icon-right (click)="submitSenderRecipientData()">
          <span style="color: #3C599B">Book</span>
          <!--<ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>-->
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>