<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <ion-card color="footer-theme" *ngFor="let data of newsData">
    <img *ngIf="!data.image" src="assets/img/nin-live.png" />
    <img src={{data.image}} alt="">
    <ion-card-content>
      <ion-card-title style="color: white">
        {{data.title}}
      </ion-card-title>
      <p style="color: white">
        {{data.description | truncate : 50 }} 
      </p>
      <p style="text-decoration: underline; color: cornflowerblue" 
        (click)="seeMore(data.title, data.description)">see more</p>
    </ion-card-content>
  </ion-card>
</ion-content>
