page-news {
    .image-size {
        // max-width:  % !important;
        // height: 40px !important;
        // align-items: center;
        height: 8vh !important;
        width: auto !important;
        margin: auto !important;
        display: block !important;
    }
}
