<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <form [formGroup]="transportTypeForm">
    <ion-grid color="theme">
      <ion-row radio-group formControlName="transportType">
        <ion-col>
          <ion-item color="theme">
            <ion-label color="theme-text">Car</ion-label>
            <ion-radio color="theme-text" checked="true" value="car"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item color="theme">
            <ion-label color="theme-text">Other transport</ion-label>
            <ion-radio color="theme-text" value="otherTransport"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div *ngIf="transportTypeForm.value.transportType == 'car'">
    <form [formGroup]="carForm">
      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Category</ion-label>
        <ion-input color="theme-text" type="text" formControlName="category"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!carForm.controls.category.valid  && (carForm.controls.category.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid category.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Brand</ion-label>
        <ion-input color="theme-text" type="text" formControlName="brand"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!carForm.controls.brand.valid  && (carForm.controls.brand.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid brand name.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Model</ion-label>
        <ion-input color="theme-text" type="text" formControlName="model"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!carForm.controls.model.valid  && (carForm.controls.model.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid model.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Body type</ion-label>
        <ion-input color="theme-text" type="text" formControlName="bodyType"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!carForm.controls.bodyType.valid  && (carForm.controls.bodyType.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid body type.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Years</ion-label>
        <ion-datetime color="theme-text" displayFormat="MM/DD/YYYY" pickerFormat="MM/DD/YYYY" min="1970-01-01" formControlName="year"></ion-datetime>
      </ion-item>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Weight (kg)</ion-label>
        <ion-input type="number" color="theme-text" min="0" formControlName="weight"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!carForm.controls.weight.valid  && (carForm.controls.weight.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid weight number.</p>
      </div>

      <ion-grid color="theme">
        <ion-row radio-group formControlName="workingOrNot">
          <ion-col>
            <ion-item color="theme">
              <ion-label color="theme-text">Working</ion-label>
              <ion-radio color="theme-text" checked="true" value="working"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item color="theme">
              <ion-label color="theme-text">Not Working</ion-label>
              <ion-radio color="theme-text" value="notWorking"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>More Info</ion-label>
        <ion-textarea color="theme-text" type="text" formControlName="moreInfo"></ion-textarea>
      </ion-item>

      <ion-row>
        <ion-col text-center>
          <button color="light" ion-button round style="margin-top:20px;"
           icon-right (click)="submitCarData()">
          <span style="color: #3C599B">Next</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
        </ion-col>
      </ion-row>
    </form>
  </div>

  <div *ngIf="transportTypeForm.value.transportType == 'otherTransport'">
    <form [formGroup]="otherTansportForm">
      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Transport Name</ion-label>
        <ion-input color="theme-text" type="text" formControlName="transportName"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!otherTansportForm.controls.transportName.valid  && (otherTansportForm.controls.transportName.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid transport name.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Length (cm)</ion-label>
        <ion-input type="number" color="theme-text" formControlName="length"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!otherTansportForm.controls.length.valid  && (otherTansportForm.controls.length.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid length.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Width (cm)</ion-label>
        <ion-input type="number" color="theme-text" formControlName="width"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!otherTansportForm.controls.width.valid  && (otherTansportForm.controls.width.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid width.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Height (cm)</ion-label>
        <ion-input type="number" color="theme-text" formControlName="height"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!otherTansportForm.controls.height.valid  && (otherTansportForm.controls.height.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid height.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>Weight (kg)</ion-label>
        <ion-input type="number" color="theme-text" formControlName="weight"></ion-input>
      </ion-item>
      <div class="no-border" *ngIf="!otherTansportForm.controls.weight.valid  && (otherTansportForm.controls.weight.dirty || submitAttempt)">
        <p style="color: #ff1800">Please enter a valid weight.</p>
      </div>

      <ion-item class="no-padding" color="theme">
        <ion-label color="theme-text" stacked>More Info</ion-label>
        <ion-textarea color="theme-text" type="text" formControlName="moreInfo"></ion-textarea>
      </ion-item>

    </form>

    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openGallery()" src="assets/img/002-image.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Choose image from gallery</strong>
            </div>
          </div>
        </ion-col>

        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openCamera()" src="assets/img/001-photo-camera.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Take a photo</strong>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="text-align: center" *ngIf="photoRef">Image uploaded</p>

    <ion-row>
      <ion-col text-center>
        <button color="light" ion-button round style="margin-top:20px;"
         icon-right (click)="submitOtherTransportData()">
          <span style="color: #3C599B">YoYo</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>