<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background-color: #12A5F4">
  <form [formGroup]="cargoForm">
    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" fixed>Length (cm)</ion-label>
      <ion-input color="theme-text" type="number" min="0" formControlName="length"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!cargoForm.controls.length.valid  && (cargoForm.controls.length.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid length number.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" fixed>Width (cm)</ion-label>
      <ion-input color="theme-text" type="number" min="0" formControlName="width"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!cargoForm.controls.width.valid  && (cargoForm.controls.width.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid width number.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" fixed>Height (cm)</ion-label>
      <ion-input color="theme-text" type="number" min="0" formControlName="height"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!cargoForm.controls.height.valid  && (cargoForm.controls.height.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid height number.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" fixed>Weight (kg)</ion-label>
      <ion-input color="theme-text" type="number" min="0" formControlName="weight"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!cargoForm.controls.weight.valid  && (cargoForm.controls.weight.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid weight number.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>More info</ion-label>
      <ion-textarea color="theme-text" formControlName="moreInfo"></ion-textarea>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openGallery()" src="assets/img/002-image.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Choose image from gallery</strong>
            </div>
          </div>
        </ion-col>

        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openCamera()" src="assets/img/001-photo-camera.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Take a photo</strong>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="text-align: center" *ngIf="photoRef">Image uploaded</p>

    <ion-row>
      <ion-col text-center>
        <button color="light" ion-button round style="margin-top:20px;"
         icon-right (click)="submitOutsideCargoData()">
          <span style="color: #3C599B">Next</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>