<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: #12A5F4">
  <form [formGroup]="standardPackageForm">

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" fixed>Length (cm)</ion-label>
      <ion-input type="number" color="theme-text" formControlName="length"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!standardPackageForm.controls.length.valid  && (standardPackageForm.controls.length.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid length.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" fixed>Width (cm)</ion-label>
      <ion-input type="number" color="theme-text" formControlName="width"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!standardPackageForm.controls.width.valid  && (standardPackageForm.controls.width.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid width.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" fixed>Height (cm)</ion-label>
      <ion-input type="number" color="theme-text" formControlName="height"></ion-input>
    </ion-item>
    <div class="no-border" *ngIf="!standardPackageForm.controls.height.valid  && (standardPackageForm.controls.height.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid height.</p>
    </div>

    <ion-item class="no-padding" color="theme">
      <ion-label color="theme-text" stacked>More info</ion-label>
      <ion-textarea color="theme-text" formControlName="moreInfo"></ion-textarea>
    </ion-item>
    <div class="no-border" *ngIf="!standardPackageForm.controls.moreInfo.valid  && (standardPackageForm.controls.moreInfo.dirty || submitAttempt)">
      <p style="color: #ff1800">Please enter a valid Info.</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openGallery()" src="assets/img/002-image.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Choose image from gallery</strong>
            </div>
          </div>
        </ion-col>

        <ion-col width-50>
          <div style="align: left; text-align:center;">
            <img (click)="openCamera()" src="assets/img/001-photo-camera.png" max-width="100%" />
            <div class="caption" style="width: 100%">
              <strong>Take a photo</strong>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p style="text-align: center" *ngIf="photoRef">Image uploaded</p>

    <ion-grid>
      <ion-row>
        <ion-col width-10></ion-col>
        <ion-col width-10 style="margin-top: 13px;">
          <ion-checkbox color="theme-text" (ionChange)="enableCheckCompany($event)"></ion-checkbox>
        </ion-col>
        <ion-col width-80>
          <button color="theme-text" ion-button clear (click)="termsAndConditions()">Terms & Conditions</button>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col text-center>
        <button [disabled]="disabled" color="light" ion-button round style="margin-top:20px;"
         icon-right (click)="submitStandardPackageData()">
          <span style="color: #3C599B">Next</span>
          <ion-icon style="color: #3C599B" name="arrow-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>