<ion-header>

  <ion-navbar color="theme">
    <ion-title>
      <img class="image-size" src="assets/img/logo.png" alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #12A5F4" padding>
  <h4 style="color: white; text-align: center">Make Reservations</h4>
  <ion-grid>
    <ion-row baseline>
      <!--<ion-col width-25></ion-col>-->
      <ion-col width-33>
        <div style="align: left; text-align:center;" (click)="goToTransportPage()">
          <img src="assets/img/004-automobile.png" max-width="100%" />
          <div class="caption" style="width: 100%">
            <strong>Cars and other transport</strong>
          </div>
        </div>
        <!--<img style="margin-bottom: -15px" src="assets/img/004-automobile.png" alt="">
        <figcaption class="caption">
          <strong>Cars and other transport</strong>
        </figcaption>-->
      </ion-col>
      <ion-col width-33></ion-col>
      <ion-col width-33>
        <div style="align: left; text-align:center;" (click)="goToAnimalTransportPage()">
          <img src="assets/img/002-dog.png" max-width="100%" />
          <div class="caption" style="width: 100%">
            <strong>Animals transport</strong>
          </div>
        </div>
        <!--<img class="middle-image" src="assets/img/002-dog.png" alt="">
        <figcaption style="text-align: center; color: white; margin-left: 19px">
          <strong>Animals transport</strong>
        </figcaption>-->
      </ion-col>
    </ion-row>
    <ion-row center>
      <ion-col width-33></ion-col>
      <!--<ion-col>-->
      <div style="align: left; text-align:center;" (click)="goToRemovalsForm()">
        <img class="middle-image" src="assets/img/001-garbage-truck.png" max-width="100%" />
        <div class="caption" style="width: 100%">
          <strong>Removals</strong>
        </div>
      </div>
      <!--<img class="middle-image" src="assets/img/001-garbage-truck.png" alt="">
        <figcaption style="color: white; font-size: 1.2em">
          <strong>Removals</strong>
        </figcaption>-->
      <!--</ion-col>-->
    </ion-row>
    <ion-row>
      <!--<ion-col width-25></ion-col>-->

      <ion-col width-33>
        <div style="align: left; text-align:center;" (click)="goToOutsideCargoPage()">
          <img src="assets/img/003-business.png" max-width="100%" />
          <div class="caption" style="width: 100%">
            <strong>Outside cargo</strong>
          </div>
        </div>
        <!--<img class="middle-image" src="assets/img/003-business.png" alt="">
        <figcaption style="text-align: center; color: white;">
          <strong>Outside cargo</strong>
        </figcaption>-->
      </ion-col>
      <ion-col width-33></ion-col>
      <ion-col width-33>
        <div style="align: left; text-align:center;" (click)="goToStandardPackagePage()">
          <img src="assets/img/005-box.png" max-width="100%" />
          <div class="caption" style="width: 100%">
            <strong>Standard Package</strong>
          </div>
        </div>
        <!--<img class="middle-image" src="assets/img/005-box.png" alt="">
          <figcaption style="text-align: center; align: left; color: white">
            <strong>Standard Package</strong>
          </figcaption>-->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="background-color: #3C599B">
  <h6 style="color: white; text-align: center" class="text-center">Lorem Ipsum har tålt tidens tann</h6>
  <h6 style="color: white; text-align: center" class="text-center">Lorem Ipsum har tålt tidens tann</h6>
</ion-footer>