page-place-order {
    .image-size {
        // max-width:  % !important;
        // height: 40px !important;
        // align-items: center;
        height: 8vh !important;
        width: auto !important;
        margin: auto !important;
        display: block !important;
    }
     .no-padding{
		padding-left: 0;
	}
    .caption {
        // margin-top: -12px;
        color: white;
        text-align: center;
    }
    .middle-image {
        height: 80px;
    }
    .row {
        margin-left: 12px;
    }
}
