<ion-header>

  <ion-navbar color="theme">
    <ion-title width-10>
      <!--<img src="assets/img/logo.png" alt="" class="logo-style text-center">-->
      Menu
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFb()">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #12A5F4" padding>
  <ion-grid>
    <ion-row>
      <img class="image-size" src="assets/img/logo.png" alt="">
      <!--<button ion-button icon-only clear>
        <ion-icon class="logo-style" name="logo-facebook"></ion-icon>
      </button>-->
    </ion-row>
    <ion-row style="margin-top: 35px">
      <ion-col width-25></ion-col>
      <!--<ion-col width-50>
      </ion-col>-->
      <button ion-button large block color="light" (click)="goToPlaceOrderPage()">
          <span style="color: #3C599B">Make Order</span>
        </button>
      <ion-col width-25></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25></ion-col>
      <!--<ion-col width-50>
      </ion-col>-->
      <button ion-button large block color="light" (click)="goToNews()">
          <span style="color: #3C599B">News</span>
        </button>
      <ion-col width-25></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-25></ion-col>
      <button ion-button large block color="light" (click)="goToContactPage()">
          <span style="color: #3C599B">Contact</span>
      </button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer style="background-color: #3C599B">
  <h6 style="color: white; text-align: center" class="text-center">Lorem Ipsum har tålt tidens tann</h6>
  <h6 style="color: white; text-align: center" class="text-center">Lorem Ipsum har tålt tidens tann</h6>
</ion-footer>