page-menu {
    .logo-style{
        width: 55%;
        background-color: transparent !important;
        margin-top: 5px;
       }
    .home-logo{
        margin-top:20px;
        width: 65%;
    }
    .image-size {
        // max-width:  % !important;
        // height: 40px !important;
        // align-items: center;
        height: 10vh !important;
        width: auto !important;
        margin: auto !important;
        display: block !important;
    }
    .button-clear-md {
        color: "white"
    }
    .logo-style {
        color: #3C599B; 
        // background-color: white !important;
        border-radius: 10px;
        font-size: 2.5em !important;
        // padding: -1px !important;
        width: 100%;
    }
    
    .fab-md-in-list {
        color: #3c599b;
    }
}
